.raleway-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

*
{
    margin: 0px;
    padding: 0px;
}

header
{
    background-image: url("Assets/Hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px 100px;
    min-height: 100vh;         
}
body
{
    background-color: #eff4ff;
}
nav
{
    display: flex;
    justify-content: space-between;
}

nav h2
{
    font-size: 34px;
    font-weight: bolder;
    color: #4E47FF;
}

#hero
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 80vh;
}

#hero h2
{
    font-size: 65px;
}

.button_style
{
    background-color: #4E47FF;
    width: 132px;
    height: 48px;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.button_style:hover
{
    background-color: #0800ff;
    border: 4px white dashed;
    cursor: pointer;
}

#hero button
{
    margin-top: 35px;
}

#action
{
    display: flex;
    justify-content: space-between;
    padding-left: 150px;
    padding-right: 150px;
}

#action_text h3
{
    font-size: 42px;
}

#action_text p
{
    font-size: 24px;
    font-weight: 400;
    color: rgb(109, 109, 109);
    line-height: 30px;
}

#action_text button
{
    margin-top: 15px;
}

.button_style_for_action
{
    background-color: #4E47FF;
    width: 185px;
    height: 55px;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.button_style_for_action:hover
{
    background-color: #0800ff;
    border: 4px white dashed;
    cursor: pointer;
}

#action
{
    margin-top: 200px;
    align-items: center;
}

#action img
{
    border-radius: 48px;
    width: 403px;
    height: 328px;
}

#productive_users_section
{
    display: block;
    text-align: center;
    margin-top: 250px;
    background-color: #4d47ff37;
    padding: 50px 80px;
    margin-left: 150px;
    margin-right: 150px;
    border-radius: 40px;
}

#productive_users_section h3
{
    font-size: 45px;
    font-weight: 700;
}

#users_information
{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    justify-content: space-around;
    gap: 250px;
}

#users_information h2
{
    font-size: 80px;
    font-family: 'Franklin Gothic Medium';
    color: #4E47FF;
}

#users_information p
{
    color: rgba(0, 0, 0, 0.5);
    font-size: 22px;
}

#feedback_section
{
    margin-top: 250px;
    text-align: center;
}
#feedback_section h2
{
    font-size: 42px;
    font-weight: 700;
}
#all_cards
{
    display: flex;
    justify-content: space-around;
    margin: 80px 80px;
    text-align: left;
}
#all_cards h4
{
    font-size: 20px;
}
#all_cards p
{
    font-size: 15px;
    font-family: 'Calibri';
    font-weight: 400;
}
#picture_and_info
{
    display: flex;
    margin-top: 20px;
}

#picture_and_info img
{
    border-radius: 50%;
}
#info
{
    margin-left: 20px;
}
#info p
{
    font-size: 15px;
}
#info h6
{
    font-size: 15px;
}

.card_style
{
    background-color: white;
    border-radius: 14px;
    padding: 50px;
}